<h1>{{title}}</h1>
<nav class="navbar navbar-expand-lg navbar-dark sticky-top">
<a class="navbar-brand" href="https://braininghub.hu/">
            <img src="images/BH_logo.png" alt="BN_logo" title="BH_logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item ">
                    <a class="nav-link text-white rolling" href="#kezdooldal">Kezdőoldal <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white rolling" href="#rolunk">Rólunk</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white rolling" href="#projektjeink">Projektjeink</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white rolling" href="#kapcsolat">Kapcsolat</a>
                </li>
            </ul>
        </div>
    </nav>