<form id="signUp" method="POST" action="/registration/register" enctype="multipart/form-data">
  <div class="form-group">
    <label for="nickname">Nickname</label>
    <input type="text" class="form-control" id="nickname" name="nickname" placeholder="Enter nickname" required>
  </div>
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="Enter email address" required>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" required>
  </div>
  <div class="form-group">
    <label for="passwordRepeat">Repeat password</label>
    <input type="password" class="form-control" id="passwordRepeat" name="passwordRepeat" placeholder="Repeat password"
      required>
  </div>
  <div class="form-group">
    <label for="imageUpload">Upload image (optional)</label>
    <input class="form-control" form="signUp" type="file" id="imageUpload" name="imageUpload">
  </div>
  <div class="form-group">
    <label for="introduction">Introduction (optional) </label>
    <textarea class="form-control" form="signUp" name="introduction" id="introduction" rows="5" cols="50">
    </textarea><br>
    <button form="signUp" type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>